




<!-- 
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Home Budget Calentar</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
-->
<!-- 
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Home Budget Calentar</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Login/{ParamUsrName}/{ParamUsrPwd}">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShowChart">
                <span class="oi oi-chat" aria-hidden="true"></span> Financial Charts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShowInfo">
                <span class="oi oi-chat" aria-hidden="true"></span> Financial Info
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShowCalentar">
                <span class="oi oi-calendar" aria-hidden="true"></span> Calentar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ExTransactions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Expenses Transactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="InTransactions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Income Transactions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Configuration">
                <span class="oi oi-box" aria-hidden="true"></span> Configuration
            </NavLink>
        </div>

        
        

    </nav>
    




</div>
-->

<!--
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Testcomp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Testcomp
            </NavLink>
        </div>

                <div class="nav-item px-3">
            <NavLink class="nav-link" href="About">
                <span class="oi oi-list-rich" aria-hidden="true"></span> About
            </NavLink>
        </div>
        -->


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <span class="oi oi-home" style="color:white;" aria-hidden="true"></span>
        @if (!@IconMenuActive)
        {
            <a class="navbar-brand" href="">Home Budget</a>
        }
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="bottom-row">
    <div class="icon-menu">
        @if (!@IconMenuActive)
        {
            <span class="oi oi-align-left" style="color: white;" @onclick="ToggleIconMenu"></span>
        }
        else
        {
            <span class="oi oi-align-right" style="color: white;" @onclick="ToggleIconMenu"></span>
        }
    </div>
</div>




<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Home</label>
                }
            </NavLink>
        </div>


       


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MapsCalendar">
                <span class="oi oi-map-marker" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Maps</label>
                }
            </NavLink>
        </div>




        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Login/{ParamUsrName}/{ParamUsrPwd}">
                <span class="oi oi-account-login" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Login</label>
                }
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShowBlazorizeCharts">
                <span class="oi oi-chat" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Financial Charts</label>
                }
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShowInfo">
                <span class="oi oi-info" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Financial Info</label>
                }
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TestFilaretiSheduler">
                <span class="oi oi-calendar" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Sheduler</label>
                }
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ExTransactions">
                <span class="oi oi-list-rich" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>ExTransactions</label>
                }
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="InTransactions">
                <span class="oi oi-list-rich" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>InTransactions</label>
                }
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Configuration">
                <span class="oi oi-box" aria-hidden="true"></span>
                @if (!@IconMenuActive)
                {
                    <label>Configuration</label>
                }
            </NavLink>
        </div>
        
        
        

    </nav>


</div>





@code {


    //bool to send to MainLayout for shrinking sidebar and showing/hide menu text
    private bool IconMenuActive { get; set; } = false;

    //EventCallback for sending bool to MainLayout
    [Parameter]
    public EventCallback<bool> ShowIconMenu { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    //Method to toggle IconMenuActive bool and send bool via EventCallback
    private async Task ToggleIconMenu()
    {
        IconMenuActive = !IconMenuActive;
        await ShowIconMenu.InvokeAsync(IconMenuActive);
    }



    /*
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }*/












}
