@page "/"




<html> 
<head>
    <link rel="stylesheet" href="/css/Home.css" />  
    <PageTitle>Home</PageTitle>
</head>

<body>
    <div class="container">
        <img src="/images/hbc.jpg" width="80%" height="100%">
        <div class="text">
            <h1>
                Wellcome <br />
                <h4> Home Budget is a useful app to manage your domestic budget.    Thanks for using </h4>
            </h1>
        </div>
    </div>


</body>
</html>
